name: Github Pages
on:
  schedule:
  - cron: '0 23 * * *'
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build
        run: npm i -g notablog && notablog generate .
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4.2.5
          token: ${{ secrets.ACCESS_TOKEN }}
          repository-name: wlwy/wlwy.github.io # 修改这里
          BRANCH: master # 如果你的仓库默认分支是 master 记得修改这里
          FOLDER: public
